.header
{   font-weight: 500;
    height:150px;
    width:100%;
    background-color:lightgrey;
    float:left;
    box-shadow: 0 0 5px 0 grey;
    font-size: 90px;
    color:#576271;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input [type=submit]
{
    background-color:mediumturquoise;
color:white;
height:50px;
border:1px solid mediumturquoise;
}
label{
    font-weight: 300;
}
.pic img{
    height:600px;
    width:400px;
    margin-left:1000px;

}

 a{
    margin:50px 0 0 30px;
    color:mediumturquoise;
}
 a:hover{
    color:darkgrey;
}


.lol
{
    float:left;
    margin-left:200px;
    margin-top:-450px;
    font-size:20px;
    font-weight:400;
    color:black;
}

input{
    padding-left:10px;
}

.part
{
    margin-bottom:20px;
}
.filler
{
    text-align:left;
    background-color: lightgray;
    margin:10px 0px;
    border:1px solid lightgray;
    border-radius:5px;
    height:40px;
    width:530px;
}

.space label
{
    margin-right:100px;

}

.filler3
{
    text-align:left;
    background-color: lightgray;
    margin:10px 0px;;
    border:1px solid lightgray;
    border-radius:5px;
    height:150px;
    width:530px;
}

.filler4
{
    text-align:center;
    background-color: lightgray;
    margin:10px 0px;
    border:1px solid lightgray;
    border-radius:5px;
    height:40px;
    width:260px;  
    color:silver;
}
.p1
{
    font-size:10px;
    color:lightgrey;
    width:530px;
}

button
{
    background-color:mediumturquoise;
    color:white;
    height:50px;

    
    border:1px solid mediumturquoise;
}


.button
{margin-left:15px;
   
    margin-top:10px;
    border-radius:5px;
    box-shadow:2px 2px 2px 0px  lightgray;
    
    
    }
.button:hover{
    background-color: lightgray;
    color:darkgray;
    border:none;
}
.button a{
    color:white;
}
.button a:hover{
    color:darkgrey;
    text-decoration: none;
}

.part2
{
    margin-bottom:25px;
}

.part3
{
    margin-bottom:35px;
}
 
